brick_game--pix {
  min-height : 20px;
  min-width : 23px;
  background-color : rgba(255, 255, 255, 0);
}

brick_game--pix:enabled {
  border-color : darkgray;
  border-width : 3px;
  border-style : outset;
  border-radius : 3px;
}

QLabel#level_lbl {
  font : bold;
  font-size : 30px;
}
QLabel#score_lbl {
  font : bold;
  font-size : 30px;
}

QStatusBar {
  font-size : 30px;
}

QLabel#pauseLog {
  font : bold;
  font-size : 40px;
}

QWidget#miniField {
}
